
body {
    background-color: white;
}


.article-title {
    color: grey;
}

.disclaimer {
    font-size: 10px;
}


h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
}


#vespa-image {
    width: 100%;
}


/* 5: Er staan meerdere links in het document. Zorg ervoor dat alléén de links in de navigatiebalk de tekstkleur
"indianred" krijgen.
Tip: gebruik hier een combinator voor */

/* 5 muss noch geloest werden!!! siehe oben */


p > a:hover {
    color: darkgreen;
}


ul > li {
    color: forestgreen;
}

/* 8: De buttons lijken op dit moment te veel op elkaar. Zorg ervoor dat je de rechter button een achtergrondkleur van "indianred"
kunt geven. Tip: gebruik hier een combinator voor. */

form + button.reset {
    background-color: indianred;
}

/* oben 8! noch nicht geloest */
.text-field:active {
    background-color: forestgreen;
}
